<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WhatsRent.Common.Database.Properties.Settings.WhatsRentConnectionString"
            connectionString="Data Source=MUNISH-LENOVO;Initial Catalog=WhatsRent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>