<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="2000000" targetFramework="4.5" maxUrlLength="1024" relaxedUrlToFileSystemMapping="true" />
  
  </system.web>
  
  <system.webServer>  
    <httpProtocol>
	<customHeaders>
		<add name="Access-Control-Allow-Origin" value="*"/>
		<add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
		<add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
		<add name="Access-Control-Max-Age" value="1728000" />
	</customHeaders>
</httpProtocol>
    
  </system.webServer>  

  <system.serviceModel>
    
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
         maxSizeOfMessageToLog="2000"/>
    </diagnostics>
           
      <bindings>
        
          <webHttpBinding>
            <binding name="defaultbinding" contentTypeMapper ="WebContentTypeMapper" ></binding>
          </webHttpBinding>
      </bindings>
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="RentServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2000000" />
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        
        <behavior name="webHttpEndpointBehavior">
          <!--<newtonsoftJsonBehavior/>-->
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false" />
        </behavior>
        
      </endpointBehaviors>
      
    </behaviors>
    
    <services>
      
      <service name="WhatsRent.DataServices.RentService.RentService" behaviorConfiguration="RentServiceBehavior">
        <endpoint address="" kind="webHttpEndpoint" binding="webHttpBinding" contract="WhatsRent.DataServices.RentService.IRentService" behaviorConfiguration="webHttpEndpointBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
    </services>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

<system.diagnostics>
    <sources>
      <source name ="System.ServiceModel" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name ="System.ServiceModel.MessageLogging"
              switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name ="System.Runtime.Serialization" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="LogicalOperationStack"
           initializeData="C:\logs\RestAPISvcLog\Traces.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
